@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
body {
    
    background-color: #fc5404;
    background-image: url(/img/anna-scarfiello-h0oUO_W755Y-unsplash.jpg);
    background-size: cover; 
    background-blend-mode: overlay;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    /* display: flex;
    flex-direction: column; */
    align-items: baseline;
    text-align: center;
}
#home{
     height: 80vh;
    width :100wh;
    
    margin: 0 auto;
    margin-top: 2rem;
}
p{
    color: white;
    font-size: 1.8rem;
}

form{
    margin-top: 3rem;
}
input{
  
    border-radius: 20px;
    padding: 0.5rem;
}

button{
    border: 2px solid white;
    border-radius: 20px;
    padding: 0.5rem; 
    cursor: pointer;
}

footer {
    color: #ffffff;
   
    margin-top: 16px;
    padding: 16px 0;
}

header {
    
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color:white;
    margin-right: 16px;
}
